{% extends 'base.html' %}
{% load i18n crispy_forms_tags static %}
{% block title %}{{ title }} | {% trans 'Sistema de gestión de aprendizaje' %}{% endblock title %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{% trans 'Inicio' %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'programs' %}">{% trans 'Carreras' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans 'Formulario de Materia' %}</li>
    </ol>
</nav>

<div class="title-1">{% trans 'Formulario de Materia' %}</div>
<br>
<br>

{% include 'snippets/messages.html' %}
{% if form.non_field_errors %}
<div class="alert alert-danger">
    {% for err in form.non_field_errors %}
    <div>{{ err }}</div>
    {% endfor %}
</div>
{% endif %}

<form action="" method="POST">{% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <p class="form-title">{% trans 'Detalle de la Materia' %}</p>
                <div class="p-3">
                    {{ form.title|as_crispy_field }}
                    {{ form.code|as_crispy_field }}
                    {{ form.summary|as_crispy_field }}
                    {{ form.prerequisites|as_crispy_field }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <p class="form-title">{% trans 'Otra información' %}</p>
                <div class="p-3">
                    {{ form.programs|as_crispy_field }}
                    {{ form.credit|as_crispy_field }}
                    {{ form.is_elective|as_crispy_field }}
                    {{ form.evaluation_mode|as_crispy_field }}
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex gap-2 mt-3">
        <input class="btn btn-primary" type="submit" value="{% trans 'Guardar' %}">
        <a class="btn btn-light" href="{% url 'course_list' %}">{% trans 'Cancelar' %}</a>
    </div>
</form>

{% endblock content %}
