{% extends 'base.html' %}
{% load i18n crispy_forms_tags %}

{% block title %}{{ title }} | {% trans 'Gestor Académico' %}{% endblock title %}

{% block content %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{% trans 'Inicio' %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'university_list' %}">{% trans 'Universidades' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
    </ol>
</nav>

{% include 'snippets/messages.html' %}

<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <p class="form-title">{{ title }}</p>
            <div class="p-3">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">{% trans 'Guardar' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
