{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ title }} | {% trans 'Gestor Académico' %}{% endblock title %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{% trans 'Inicio' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans 'Panel de administración' %}</li>
    </ol>
</nav>  

<div class="title-1"><i class="fas fa-user-tie"></i>{% trans 'Panel de administración' %}</div>
<br>
<br>

{% include 'snippets/messages.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="border-bottom">
                {% trans 'Gestionar' %}<a class="link" href="{% url 'lecturer_list' %}"> {% trans 'Docentes' %} &raquo;</a>
                <p class="text-muted">{% trans 'Altas, bajas y edición de docentes' %}</p>
            </div>

            <div class="border-bottom mt-3">
                {% trans 'Gestionar' %}<a class="link" href="{% url 'student_list' %}"> {% trans 'Estudiantes' %} &raquo;</a>
            <p class="text-muted">{% trans 'Altas, bajas y edición de estudiantes' %}</p>
            </div>

            <div class="border-bottom mt-3">
                {% trans 'Gestionar' %}<a class="link" href="{% url 'session_list' %}"> {% trans 'Ciclos lectivos' %} &raquo;</a>
            <p class="text-muted">{% trans 'Crear o actualizar ciclos lectivos' %}</p>
            </div>

            <div class="mt-3">
                {% trans 'Gestionar' %}<a class="link" href="{% url 'semester_list' %}"> {% trans 'Cuatrimestres' %} &raquo;</a>
            <p class="text-muted">{% trans 'Crear o actualizar cuatrimestres' %}</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="border-bottom">
                {% trans 'Agregar Materias' %} &amp; {% trans 'Abandonar Materias' %}
                <label class="switch switch-text switch-success switch-pill" style="float: right;">
                <input type="checkbox" class="switch-input" checked="true">
                <span data-on="{% trans 'Activo' %}" data-off="{% trans 'Inactivo' %}" class="switch-label"></span>
                <span class="switch-handle"></span>
                </label>
                <p class="text-muted">{% trans 'Interruptor' %} 
                    <i class="info-text py-0 px-2 bg-success text-light">{% trans 'ACTIVO' %}</i> {% trans 'o' %} <i class="info-text py-0 px-2 bg-danger text-light">{% trans 'INACTIVO' %}</i>
                </p>
            </div>

            <div class="border-bottom mt-3">
                {% trans 'Gestionar' %}<a class="link" href="{% url 'programs' %}"> {% trans 'Carreras y Materias' %} &raquo;</a>
            <p class="text-muted">{% trans 'Administrar planes de estudio y materias' %}</p>
            </div>

            <div class="border-bottom mt-3">
                {% trans 'Gestionar' %}<a class="link" href="{% url 'floor_list' %}"> {% trans 'Pisos y Espacios' %} &raquo;</a>
            <p class="text-muted">{% trans 'Administrar pisos, aulas y laboratorios del edificio' %}</p>
            </div>

            <div class="border-bottom mt-3">
                {% trans 'Gestionar' %}<a class="link" href="{% url 'course_allocation_view' %}"> {% trans 'Asignaciones de Materias' %} &raquo;</a>
            <p class="text-muted">{% trans 'Configurar qué docente dicta cada materia' %}</p>
            </div>

            <div class="mt-3">
                {% trans 'Gestionar' %}<a class="link" href="{% url 'home' %}"> {% trans 'Noticias' %} &amp; {% trans 'Eventos' %} &raquo;</a>
            <p class="text-muted">{% trans 'Administrar comunicaciones institucionales' %}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
