{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "Página de progreso" %} | {% trans 'Gestor Académico' %} {% endblock %}
{% block description %} {% trans "Página de progreso del usuario" %} {% endblock %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{% trans 'Inicio' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans 'Página de progreso' %}</li>
    </ol>
</nav>

<p class="title-1"><i class="fas fa-record-vinyl"></i>{% trans 'Registro de evaluaciones' %}</p>

  {% if cat_scores %}

  <div class="header-title text-center">{% trans "Resultados por categoría" %}</div>
  <div class="title-line"></div>

  <table class="table table-bordered table-striped">

	<thead>
	  <tr>
		<th>{% trans "Categoría" %}</th>
		<th>{% trans "Correctas" %}</th>
		<th>{% trans "Incorrectas" %}</th>
		<th>%</th>
	  </tr>
	</thead>

	<tbody>


	  {% for cat, value in cat_scores.items %}
	  <tr>
		<td>{{ cat }}</td>
		<td>{{ value.0 }}</td>
		<td>{{ value.1 }}</td>
		<td>{{ value.2 }}</td>
	  </tr>

	  {% endfor %}

	</tbody>

  </table>


  {% endif %}

  {% if exams %}

  <div class="header-title-xl">{% trans "Exámenes anteriores" %}</div>
  <p class="lead fw-bold">
	{% if request.user.is_superuser %}
	{% trans "Resultados de exámenes del estudiante" %}
	{% else %}
	{% trans "A continuación se muestran los resultados de tus exámenes" %}
	{% endif %}
  </p>
  <div class="text-light bg-secondary mb-2 p-1">{% trans 'Total de exámenes completados:' %} {{ exams_counter }}</div>
<div class="table-responsive">
  <table class="table table-bordered table-striped">

	<thead>
	  <tr>
		<th>#</th>
		<th>{% trans "Título de la evaluación" %}</th>
		<th>{% trans "Puntaje" %}</th>
		<th>{% trans "Puntaje posible" %}</th>
		<th>{% trans 'Sobre 100%' %}</th>
	  </tr>
	</thead>

	<tbody>

	  {% for exam in exams %}

	  <tr>
		<td>{{ forloop.counter }}</td>
		<td>{{ exam.quiz.title }}</td>
		<td>{{ exam.current_score }}</td>
		<td>{{ exam.get_max_score }}</td>
		<td>{{ exam.get_percent_correct }}%</td>
	  </tr>

	  {% endfor %}

	</tbody>

  </table>
</div>
  {% endif %}
  {% if not cat_scores and not exams %}
  <h4 class="text-center mt-5 py-5 text-muted">
	  <i class="fa-regular fa-folder-open me-2"></i>{% trans 'Los registros de progreso aparecerán aquí' %}
  </h4>
  {% endif %}

{% endblock %}
