{% load static %}
{% load i18n %}

<div id="side-nav">
	<div class="main-menu">
		<div class="top-side text-center py-4">
			<div class="desktop-hide">
				<div class="toggle-btn" onclick="toggleSidebar()">
					<i class="fas fa-times"></i>
				</div>
			</div>
			<a href="/">
				<img src="{% static 'img/logocudi.png' %}" width="180px" alt="Gestor Académico">
			</a>
			<p class="mt-3 small">
				<mark class="bg-secondary text-light" style="border-radius: 2px; padding: 2px 5px;">
					{{ request.user.get_user_role }}
				</mark>
			</p>
		</div>
		{% url 'home' as hom %} {% url 'dashboard' as dash %} {% url 'profile' as prof %}
		{% url 'lecturer_list' as lec %}
		{% url 'student_list' as stu %} {% url 'course_allocation_view' as cav %}
		{% url 'programs' as pro %} {% url 'session_list' as sess %} {% url 'semester_list' as sem %}
		{% url 'add_score' as ascore %} {% url 'grade_results' as vr %}{% url 'ass_results' as ar %}
		{% url 'course_registration' as cr %} {% url 'edit_profile' as ep %} {% url 'change_password' as cp %}
		{% url 'quiz_progress' as qpr %} {% url 'quiz_marking' as qce %} {% url 'user_course_list' as ucl %}
		{% url 'admin_panel' as admin_p %}
		


		<ul>
			{% if request.user.is_superuser %}
			<li class="{% if request.path == dash %}active{% endif %}">
				<a href="{% url 'dashboard' %}"><i class="fas fa-tachometer-alt"></i>{% trans 'Panel Principal' %}</a>
			</li>
			{% endif %}
			<li class="{% if request.path == hom %}active{% endif %}">
				<a href="{% url 'home' %}"><i class="fas fa-home"></i>{% trans 'Inicio' %}</a>
			</li>
			<li class="{% if request.path == prof %}active{% endif %}">
				<a href="{% url 'profile' %}"><i class="fas fa-user"></i>{% trans 'Perfil' %}</a>
			</li>

			{% if request.user.is_superuser %}
			<li class="{% if request.path == admin_p %}active{% endif %}">
				<a href="{% url 'admin_panel' %}"><i class="fas fa-user-tie"></i>{% trans 'Panel de administrador' %}</a>
			</li>
			<li class="{% if request.path == lec %}active{% endif %}">
				<a href="{% url 'lecturer_list' %}"><i class="fas fa-chalkboard-teacher"></i>{% trans 'Docentes' %}</a>
			</li>
			<li class="{% if request.path == stu %}active{% endif %}">
				<a href="{% url 'student_list' %}"><i class="fas fa-user-graduate"></i>{% trans 'Estudiantes' %}</a>
			</li>
			{% endif %}

			{% if request.user.is_lecturer or request.user.is_student %}
			<li class="{% if request.path == ucl %}active{% endif %}">
				<a href="{% url 'user_course_list' %}"><i class="fas fa-book"></i>{% trans 'Mis Materias' %}</a>
			</li>
			{% endif %}

			{% if request.user.is_superuser or request.user.is_lecturer %}
			<li class="{% if request.path == pro %}active{% endif %}">
				<a href="{% url 'programs' %}"><i class="fas fa-book-open"></i>{% trans 'Carreras y Materias' %}</a>
			</li>
			{% endif %}

			{% if request.user.is_superuser or request.user.is_lecturer %}
			<!--<li class="{% if request.path == qce %}active{% endif %}">
				<a href="{% url 'quiz_marking' %}"><i class="fas fa-check-double"></i>{% trans 'Exámenes Completos' %}</a>
			</li>-->
			{% endif %}

			{% if request.user.is_superuser %}
			<!--<li class="{% if request.path == qpr %}active{% endif %}">
				<a href="{% url 'quiz_progress' %}"><i class="fas fa-record-vinyl"></i>{% trans 'Progreso de Cuestionarios' %}</a>
			</li>-->
			<li class="{% if request.path == cav %}active{% endif %}">
				<a href="{% url 'course_allocation_view' %}"><i class="fas fa-tasks"></i>{% trans 'Ubicación de Materias' %}</a>
			</li>
			<li class="{% if request.path == sess %}active{% endif %}">
				<a href="{% url 'session_list' %}"><i class="fas fa-calendar-week"></i>{% trans 'Administrar Ciclo Lectivo' %}</a>
			</li>
			<li class="{% if request.path == sem %}active{% endif %}">
				<a href="{% url 'semester_list' %}"><i class="fas fa-calendar-alt"></i>{% trans 'Administrar Cuatrimestre' %}</a>
			</li>
			{% endif %}

			{% if request.user.is_lecturer %}
			<li class="{% if request.path == ascore %}active{% endif %}">
				<a href="{% url 'add_score' %}"><i class="fas fa-table"></i>{% trans 'Administrar Calificaciones' %}</a>
			</li>
			{% endif %}

			{% if request.user.is_student %}
			<!--<li class="{% if request.path == qpr %}active{% endif %}">
				<a href="{% url 'quiz_progress' %}"><i class="fas fa-record-vinyl"></i>{% trans 'Progreso de Questionarios' %}</a>
			</li>-->
			<li class="{% if request.path == vr %}active{% endif %}">
				<a href="{% url 'grade_results' %}"><i class="fa fa-spell-check"></i>{% trans 'Resultados de Calificaciones' %}</a>
			</li>
			<li class="{% if request.path == ar %}active{% endif %}">
				<a href="{% url 'ass_results' %}"><i class="fa fa-list-ol"></i> {% trans 'Resultados de Evaluación' %}</a>
			</li>
			<li class="{% if request.path == cr %}active{% endif %}">
				<a href="{% url 'course_registration' %}"><i class="fas fa-plus"></i>{% trans 'Agregar o Abandonar Materias' %}</a>
			</li>
			{% endif %}
			<br />
			<p class="ms-3 text-secondary">&RightArrow; Otros</p>
			<li class="{% if request.path == ep %}active{% endif %}">
				<a href="{% url 'edit_profile' %}"><i class="fas fa-cogs"></i>{% trans 'Ajustes de Cuenta' %}</a>
			</li>
			<li class="{% if request.path == cp %}active{% endif %}">
				<a href="{% url 'change_password' %}"><i class="fas fa-key"></i>{% trans 'Cambiar Contraseña' %}</a>
			</li>
		</ul>
	</div>

	<footer class="card-footer mt-5 pt-3 pb-5 px-2 text-center small text-muted">
		<p>© {{ now|date:"Y" }} Gestor Académico CUDI</p>
	</footer>
</div>
